{% block footer %}
    <footer class="site-footer bg-secondary">
        <div class="inner pull-left">
            <p>SnowTricks, site for yours pleasures !<a href="https://github.com/Franck-Dev/P6_DARTOIS_Franck/">GitHub</a>, by <a href="#">@FD</a>.</p>
        </div>
    </footer>
{% endblock %}